* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    margin: auto;
}

input, button, 
textarea {
    font: inherit;
}

:root {
    /* COLOR */
    --BG-COLOR: #fff;
    --FONT-COLOR: grey;
    --HEADER-COLOR: #fff;
    --HEADER-BGCOLOR: #333;
    --MAIN-HEADER-BGCOLOR: #3f4245;
    --BUTTON-COLOR: #f00;
    --FOOTER-BGCOLOR: whitesmoke;
    --FOOTER-COLOR: GREY;

    /* FONT */
    --FF: sans-serif;
    --FF-HEADER: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --FS: 2em;
    --HEADER-FS: 1em;
    --P-FS: 1rem;
    --PMAIN-FS: 2rem;




    /* BORDER */
    --BORDER: rgba(112, 22, 22, 0.982);


    /* PADDING */
    --PADDING-HD: 1rem;
    --PADDING-MHD: 2em;

    /* MARGIN */
    
    --MARGIN: 0 1rem 0 0;



}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--MAIN-HEADER-BGCOLOR);
    color: var(--FONT-COLOR);
    position: relative;
    overflow-x: hidden;
    width: 100vw;
}

p {
    font-family: var(--FF);
    font-size: var(--P-FS)
}

h1 {
    font-family: var(--FF-HEADER);
    font-size: var(--HEADER-FS);
    padding-left: 1rem;
}

b {
    color: var(--FOOTER-COLOR);
}

a{
    text-decoration: none;
    color: var(--HEADER-COLOR);
    
}

.header {
    background-color: var(--HEADER-BGCOLOR);
    font-size: var(--HEADER-FS);
    color: var(--HEADER-COLOR);
    padding: 1rem 1rem .5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    animation: showMenu 2s ease-out 1s forwards;
}


@keyframes showMenu {
    0% {
        transform: translateY(-20px) scale(1);
    }

}

.header__ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

:is(.header__h1, .header__li, .main__a,) a {
    color: var(--BG-COLOR);
}

.header__li {
    margin: var(--MARGIN);
    color: var(--BG-COLOR);
    font-weight: bolder;
}

.dropdown__toggle {
    display: none;
    padding: 18px;
    cursor: pointer;
}

.main {
    background-color: var(--BG-COLOR);
    margin-top: 3rem;    
   
}

.main__header {
    background-color: var(--MAIN-HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    
    padding: var(--PADDING-MHD);
    
}

.main__h2 {
    margin-left: 3em;
    font-size: var(--FS);
}

.main__a {
    text-align: right;
    margin-right: 10em;
    text-decoration: dashed;
}


.main__body {
    margin-top: 1rem;
}

.main__float{
    margin-top: 1rem;
    padding: var(--PADDING-MHD);
}

.right {
    float: right;
    margin-right: 1rem;
}

.div__p {
    font-size: var(--PMAIN-FS);
    padding: 4em;
    line-height: 3rem;
}

.div__button a{
    background-color: var(--BUTTON-COLOR);
    color: var(--BG-COLOR);
    font-size: var(--P-FS);
    text-align: center;
    width: 20%;
    margin-left: 5em;
    padding: var(--PADDING-HD);
    border-radius: 0.5rem;
}

.main__footer {
    margin-top: 3rem;
}


.main__footer_header {
    background-color: var(--MAIN-HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    font-weight: BOLDER;
    padding: var(--PADDING-HD);

}


.main__footer_body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 4fr);
    grid-auto-rows: minmax(100px, auto);
}

.main__footer_body, .gallery {
    width: 100%;
}

.footer {
    background-color: var(--FOOTER-BGCOLOR);
    color: var(--FOOTER-COLOR);
    padding: var(--PADDING-MHD);
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.footer__a, a {
    color: var(--FOOTER-COLOR);
}

.footer__li {
    list-style: none;
    
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 0.7fr);
    
}


.footer__newsletter {
    margin: var(--MARGIN);
    margin: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.footer__label {
    font-weight: bolder;
    font-size: 15px;
}

.footer__input {
    width: 40%;
    padding: 0.7rem ;
    border: none;
    border-radius: 3px;
}

.footer__button {
    background-color: var(--BUTTON-COLOR);
    color: var(--BG-COLOR);
    width: 25%;
    padding: 7PX;
    border: none;
    border-radius: 4px;
}

.footer__footer {
    text-align: center;
}


@media screen and (max-width: 768px) {
    :root {
        --FF: sans-serif;
        --FF-HEADER: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        --FS: clamp(1rem, 2vw, 1rem);
        --HEADER-FS: 1.5rem;
        --P-FS: 1rem;
        --PMAIN-FS: 1rem;
    }

    .header{
        position: relative;
    }
    
    .header__ul {
        position: absolute;
        width: 90vw;
        top: 80px;
        left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--HEADER-BGCOLOR);
        opacity: 0;
    }

    .header__li {
        padding: 1rem;
    }

    .about {
        opacity: 1;
    }

    .dropdown__toggle {
        display: block;
    }
    
    .main__h2 {
        margin-left: 0.5rem;
        font-size: 1rem;
    }
    
    .main__a {
        text-align: right;
        margin-right: 1rem;
        text-decoration: dashed;
        font-size: 10px;
    }

    .main__footer_body {
        padding: 0;
        margin: 0;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 2fr);
    }

    .footer__container {
        display: grid;
        grid-template-columns: repeat(2, 0.7fr);
        gap: 2em;
        
    }
}

@media screen and (max-wiwdth: 320px) {
    
}